$font-size: 12px;

#timeTracker{
    margin-top: calc(150px - 3vw);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#time{
    width: calc(100px + 8vw);
    font-size: calc(30px + 1vw);
    margin: {
        bottom: 3%;
    };
}

#buttons{
    width: 200px;
}

#startTime, #saveTime{
    border-radius: 5px 5px;
    width: 40%;
    display: inline-flex;
    justify-content: center;
}

#startTime{
    margin: {
        right: 10%;
        left: calc(20px - 2vw);
    }
}

#newEntry{
    font-size: $font-size;
    display: flex;
    width: calc(500px + 9vw);
    margin: {
        left: calc(-150px + 40vw);
        top: 10%;
        bottom: 5%;
    }
}

#addProject, #addDescription, #addDate, #addDuration{
    border-radius: 5px 5px;
    margin: {
        left: 5px;
        bottom: 5px;
    }
    padding: 1%;
    width: 20%;
    height: 20px;
    border: solid thin #022E51;
}

#save{
    border-radius: 5px 5px;
    color: black;
    margin-left: 10px;
    width: 10%;
    height: 35px;
}

small{
    color: darkred;
    margin: {
        top: 7%;
        left: -50%;
    }
}

@media only screen and (max-width: 550px){
    #timeTracker{
        margin-top: 30%;
    }
    
    #time{
        width: 20%;
        margin: {
            bottom: 10%;
        };
    }
    
    #buttons{
        width: 30%;
    }
    
    #startTime{
        margin: {
            right: 5%;
            left: 15%;
        }
    }
    
    #newEntry{
        margin: {
            left: 10%;
            top: 20%;
        }
        width: 90%;
    }
    
    #save{
        width: 15%;
        height: 30px;
    }
    
    small{
        margin: {
            top: 10%;
            left: -60%;
        }
    }
}