<!DOCTYPE html>
<html>
<head>
  <link href="register.component.scss" rel="stylesheet">
</head>
<body>
<form action="register.component.ts" [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
  <div>
    <div>
      <input type="text" formControlName="email" [ngClass]="{'is-valid': submitted && forms['email'].errors}">
    </div>
    <div *ngIf="submitted && forms['email'].errors">
      <small *ngIf="forms['email'].errors['required']">Email is required</small>
    </div>
    <div>
      <input type="text" formControlName="password" [ngClass]="{'is-valid': submitted && forms['password'].errors}">
    </div>
    <div *ngIf="submitted && forms['password'].errors">
      <small *ngIf="forms['password'].errors['required']">Password is required</small>
    </div>
    <div>
      <input type="text" formControlName="validatePassword" [ngClass]="{'is-valid': submitted && forms['validatePassword'].errors}">
    </div>
    <div *ngIf="submitted && forms['validatePassword'].errors">
      <small *ngIf="forms['validatePassword'].errors['required']">Confirm password is required</small>
    </div>
    <div>
      <button type="submit">Register</button>
      <button type="button" (click)="onReset()">Reset</button>
    </div>
  </div>
</form>
</body>
</html>

