<!DOCTYPE html>
<html>
  <head>
    <title>time Management Tool</title>
    <link href="app.component.scss" rel="stylesheet">
  </head>
  <body>
    <div id="navBar">
      <div *ngIf="!userIsLoggedIn()" id="notLoggedIn">
        <a routerLink="user/register" id="register">Register</a>
        <a routerLink="user/login" id="login">Login</a>
      </div>
      <div *ngIf="userIsLoggedIn()" id="loggedIn">
        <a routerLink="profile/entry" id="entry">Entry</a>
        <a routerLink="profile/timeTracker" id="timeTracker">Time Tracker</a>
        <a routerLink="user/logout" id="logout">Logout</a>
      </div>
      <router-outlet></router-outlet>
    </div>
  </body>
</html>

