$font-size: 14px;

#entry{
    font-size: $font-size;
    display: flex;
    width: calc(300px + 30vw);
    margin: {
        left: calc(-150px + 30vw);
        top: calc(20% - 8vw);
    }
}

#addProject, #addDescription, #addDate, #addDuration{
    border-radius: 5px 5px;
    margin: {
        left: 5px;
        bottom: 5px;
    }
    padding: 1%;
    width: 20%;
    height: 40px;
    border: solid thin #022E51;
}

#update{
    justify-content: center;
    border-radius: 5px 5px;
    margin-left: 10px;
    width: calc(80px - 1vw);
    height: 40px;
}

#invalidFields{
    color: darkred;
    margin: {
        top: calc(80px - 1.5vw);
        left: calc(-350px - 15vw);
    }
}

#invalidDuration{
    color: darkred;
    margin: {
        top: calc(80px - 1.5vw);
        left: calc(50px + 5vw);
    }
}

@media only screen and (max-width: 550px){
    #entry{
        width: 90%;
        margin: {
            left: 5%;
            top: 20%;
            bottom: 5%;
        }
    }
    
    #update{
        margin-left: 5px;
        width: 13%;
    }
    
    #invalidFields{
        color: darkred;
        margin: {
            top: 15%;
            left: -95%;
        }
    }
    
    #invalidDuration{
        color: darkred;
        margin: {
            top: 15%;
            left: 10%;
        }
    }
}