<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link href="update-entry.component.scss" rel="stylesheet">
    <link rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body>
    <div id="entry">
        <input required type="text" [(ngModel)]="Project" name="project" placeholder="Project" #project ="ngModel" id="addProject">
        <input required type="text" [(ngModel)]="Description" name="description" placeholder="Description" #description="ngModel" id="addDescription">
        <input required type="date" [(ngModel)]="Date" name="date" #date="ngModel" id="addDate">
        <input required type="text" [(ngModel)]="Duration" name="duration" placeholder="00:00:00" minlength="8" maxlength="8" title="HH:mm:ss" #duration="ngModel" id="addDuration">
        <button (click)="updateEntry()" [disabled]="duration.invalid || project.invalid || description.invalid || date.invalid" id="update">Update</button>
        <small *ngIf="duration.invalid || project.invalid || description.invalid || date.invalid" id="invalidFields">
          All fields have to be set!
        </small>
        <small [hidden]="duration.valid" id="invalidDuration">
          Duration has to be in format HH:mm:ss
        </small> 
    </div>
  </body>
</html>
