$font-size: 16px;

form{
    font-size: $font-size;
    width: 100%;
}

#loginForm{
    margin-top: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100px;
}

#email, #password{
    padding: 1%;
}

small{
    color: darkred;
}

#buttons{
    padding-top: 1%;
    display: flex;
    gap: 10%;
}

#submit, #reset{
    width: 100px;
}
