<!DOCTYPE html>
<html>
  <head>
    <link href="login.component.scss" rel="stylesheet">
  </head>
  <body>
  <form action="login.component.ts" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div>
      <div>
        <input type="text" formControlName="email" [ngClass]="{'is-valid': submitted && forms['email'].errors}">
      </div>
      <div *ngIf="submitted && forms['email'].errors">
        <small *ngIf="forms['email'].errors['required']">Email is required</small>
      </div>
      <div>
      <input type="text" formControlName="password" [ngClass]="{'is-valid': submitted && forms['password'].errors}">
      </div>
      <div *ngIf="submitted && forms['password'].errors">
        <small *ngIf="forms['password'].errors['required']">Password is required</small>
      </div>
      <div>
        <button type="submit">Login</button>
        <button type="button" (click)="onReset()">Reset</button>
      </div>
    </div>
  </form>
  </body>
</html>
